<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-dark text-light">
    <div class="p-5">
      <h1 class="mb-5 text-warning display-2 text-center">Hello World!</h1>
      <%= yield %>
    </div>

  </body>
</html>
